.information{
    display: flex;
    width: 40%;
    height: 500px;
    border: 1px solid none;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    background-image: url("https://images.pexels.com/photos/8938734/pexels-photo-8938734.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    border-radius: 100px;
}
.inp2{
    padding: 10px 20px;
    margin: 20px;
}
.btns{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}
.btn2{
    padding: 10px 50px;
    
}