#loginDiv {
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 28%;
    margin: 100px auto;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(pink,rgb(31, 45, 202));
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #loginDiv h1 {
    font-size: 30px;
    color: white;
  }
  #loginDiv input {
    width: 80%;
    height: 30px;
    outline: none;
    border: 1px solid #d5d5d6;
    padding: 15px 10px;
  }
  #loginBtn {
    border: transparent;
    padding: 8px 50px;
    margin-top: 30px;
    font-size: 16px;
    color: white;
    background-color: black;
    transition: 0.5s;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  
  #regLine {
    font-size: 16px;
    color: #f3ebe0;
  }
  #regLink {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }